@tailwind base;
@tailwind components;
@tailwind utilities;

@page { size: A4;  margin: 0; }


@media print {
    body * {
      visibility: hidden;
    }
    #print-content,
    #print-content * {
      visibility: visible;
      print-color-adjust: exact;
    }
}